*.iml
.gradle
/local.properties
# Ignore entire .idea directory
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Android Studio signing
*.jks
*.keystore
# Google Services (API keys)
google-services.json
